<a href="https://colab.research.google.com/github/parvathymr21/ml-algo/blob/main/PCA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.metrics import accuracy_score,mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

# 5. Apply PCA on (i) Arryhythmia (ii) Communities and Crime
(a) Report the method you used to find the best k, where k is the dimension of the
optimal subspace to which the data is projected.
(b) Report the basis of the optimal subspace.
(c) Report the new data points.
(d) Apply a suitable classification and regression algorithm on new data obtained
from (a) & (b) respectively . Assess the performance.
(e) Find the best approximation of the given data points using the new basis [
x˜l = ∑
k
i=1
⟨xl
, vi⟩vi+µ,l = 1,2,...N, where µ is the mean vector]. Apply a suitable
classification and regression algorithm on reconstructed data for (i) and (ii)
respectively. Assess the performance.

In [ ]:

def PCA1(X,threshold):
    x_mean = X-np.mean(X,axis=0)
    #x3_n = pd.DataFrame(x3)
    x_mean = x_mean.astype(float)
    cov_mat = np.cov(x_mean,rowvar=False)

    eigenvalues, eigenvectors = np.linalg.eigh(cov_mat)

    index = np.argsort(eigenvalues)[::-1]
    eigenvalues_sort = eigenvalues[index]
    eigenvectors_sort = eigenvectors[index]
    
    n_comp=0
    for i in range(len(eigenvalues_sort )):
        if eigenvalues_sort[i]>=threshold:
            n_comp+=1
        
    
    
    subset_eigen_v =  eigenvectors_sort[:,n_comp : :]
    #print(subset_eigen_v)
    X_red = (np.dot(subset_eigen_v.T,x_mean.T)).T
    #e = []
    #for i in range(len(val)):
        #e.append(val[i]/np.sum(val))
    #print(np.sum(e),'\n',e)
    
    return X_red,n_comp

In [ ]:
data3 = pd.read_csv('arrhythmia.data',header=None)
data3.head()

for i in range((data3.shape[1])) :
   
    data3.iloc[:,i] = data3.iloc[:,i].replace('?', 
        np.mean(pd.to_numeric(data3.iloc[:,i], errors='coerce')))
#data3=data3.replace(to_replace='?' , value=0)

x3 = data3.iloc[:,:-1]

y3 = data3.iloc[:,-1]
y3

from sklearn.preprocessing import MinMaxScaler
sc= MinMaxScaler()
X = sc.fit_transform(x3)
X= pd.DataFrame(X)

X_red1,n_comp= PCA1(X,1e-8)

new_red_df = pd.DataFrame(X_red1)

full_df =pd.concat([new_red_df,pd.DataFrame(y3)],axis=1)


print('Shape of new Dataframe',full_df.shape)
print('New Dataframe:')
full_df

Shape of new Dataframe (452, 22)
New Dataframe:

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,279
0,-0.058456,-0.002650,-0.015659,0.088396,0.075186,0.348530,0.065799,-0.079641,0.052081,0.036512,...,0.087919,-0.028441,0.043134,0.073681,-0.181974,0.025509,-0.176756,0.083477,-0.071939,8
1,0.009144,0.011911,-0.058983,0.097611,0.087734,-0.142046,0.049999,0.001969,-0.062209,0.079704,...,0.103130,0.065049,-0.059786,0.061014,0.043277,0.047777,0.102244,-0.058337,-0.058631,6
2,-0.117729,-0.171875,0.057459,0.210923,-0.211198,0.129509,-0.528954,-0.219113,0.144985,-0.053954,...,0.156218,-0.102774,0.103021,0.159483,-0.246207,-0.197889,0.010433,0.080995,-0.059167,10
3,0.016472,-0.057956,0.133076,0.065038,-0.009253,0.144762,-0.175486,0.081079,0.133958,0.037957,...,0.015446,-0.091328,-0.004091,-0.104975,0.039157,-0.056559,-0.167552,-0.038559,0.165065,1
4,0.124016,0.067388,-0.017127,0.153645,-0.031841,0.092550,-0.074084,0.049612,0.106585,-0.104090,...,0.003962,-0.068788,-0.087906,0.003903,-0.077623,-0.132111,-0.144895,0.042636,-0.057891,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,0.149968,0.071698,0.081734,0.004149,0.136166,0.085495,0.080671,0.200637,0.127817,0.063011,...,-0.170374,-0.005143,0.042799,-0.042790,-0.102816,-0.022405,0.068335,0.045668,0.127420,1
448,-0.034516,-0.119785,-0.076149,-0.119412,-0.233658,0.026699,-0.154162,-0.176988,0.041532,0.180175,...,0.054772,-0.146182,-0.195184,-0.081528,0.082500,-0.080014,-0.187483,0.241459,-0.093092,10
449,0.363216,-0.105441,0.040541,0.034289,0.398830,0.177920,0.026533,0.614403,0.564680,0.080083,...,-0.192558,-0.219242,0.220662,-0.129421,0.076973,-0.478005,0.052604,0.349031,0.110200,2
450,-0.142219,-0.155512,-0.203360,0.017550,-0.055298,-0.073309,0.005290,-0.036382,-0.124942,0.038033,...,-0.134607,-0.086905,-0.018010,-0.002916,0.192348,0.001511,0.046041,0.018628,-0.087468,1
451,0.003084,0.009974,-0.099716,-0.030938,0.038486,0.046405,-0.037630,0.034183,0.010704,0.086204,...,0.066361,-0.113152,-0.077159,0.112509,-0.120262,-0.071506,0.054391,0.008376,-0.014255,1

In [ ]:
np.mean(X,axis=0)

0      0.559894
1      0.550885
2      0.090649
3      0.365708
4      0.255040
         ...
274    0.000000
275    0.410882
276    0.601862
277    0.477640
278    0.440603
Length: 279, dtype: float64

In [ ]:
#classification

LR = LogisticRegression()
x_train,x_test,y_train,y_test = train_test_split(new_red_df,y3,test_size=0.3,random_state=42)
LR_model = LR.fit(x_train,y_train)
y_pred = LR_model.predict(x_test)
#print('acc=',(sum(y_test==y_pred))/len(y_test),'n_comp:',i)
print('Accuracy by logistic regression =',(sum(y_test==y_pred))/len(y_test))

Accuracy by logistic regression = 0.5220588235294118

In [ ]:
#Linear Regression
LinR = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(new_red_df,y3,test_size=0.3,random_state=42)
LinR_model = LinR.fit(x_train,y_train)
y_pred = LR_model.predict(x_test)
#print('acc=',(sum(y_test==y_pred))/len(y_test),'n_comp:',i)
print('Root mean squared error=', np.sqrt(mean_squared_error(y_test,y_pred)))

Root mean squared error= 5.526673289335894

** Communities & Crime data**

In [ ]:
data5 = pd.read_csv('communities.data',header=None)
data5

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,12,?,?,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,?,?,?,?,0.00,?,0.09
1990,6,?,?,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,?,?,?,?,0.00,?,0.45
1991,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1992,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1993,6,?,?,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [ ]:
#Replaces? with mean of the columns

for i in range((data5.shape[1])) :
    if i!=3:
        data5.iloc[:,i] = data5.iloc[:,i].replace('?', 
            np.mean(pd.to_numeric(data5.iloc[:,i], errors='coerce')))
    elif i==3:
        data5.iloc[:,i] = data5.iloc[:,i].replace('?', 
        ((data5.iloc[:,i].mode)))
    
data5.head()

data5 = data5.drop(columns=[3],axis=1)

x5 = data5.iloc[:,1:-1]

In [ ]:
x5 = data5.iloc[:,1::]
x5

,1,2,4,5,6,7,8,9,10,11,...,118,119,120,121,122,123,124,125,126,127
0,58.826829,46188.336597,1,0.19,0.33,0.02,0.90,0.12,0.17,0.34,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,58.826829,46188.336597,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.02,0.12,0.45,0.163103,0.076708,0.698589,0.440439,0.00,0.195078,0.67
2,58.826829,46188.336597,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.01,0.21,0.02,0.163103,0.076708,0.698589,0.440439,0.00,0.195078,0.43
3,5,81440,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.02,0.39,0.28,0.163103,0.076708,0.698589,0.440439,0.00,0.195078,0.12
4,95,6096,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.04,0.09,0.02,0.163103,0.076708,0.698589,0.440439,0.00,0.195078,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,58.826829,46188.336597,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.01,0.28,0.05,0.163103,0.076708,0.698589,0.440439,0.00,0.195078,0.09
1990,58.826829,46188.336597,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.02,0.37,0.20,0.163103,0.076708,0.698589,0.440439,0.00,0.195078,0.45
1991,9,80070,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1992,17,72600,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1993,58.826829,46188.336597,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [ ]:

x5 = data5.iloc[:,1::]

y5 = data5.iloc[:,0]


from sklearn.preprocessing import MinMaxScaler
sc= MinMaxScaler()
X5 = sc.fit_transform(x5)
X5= pd.DataFrame(X5)


X_red5,n_comp5= PCA1(X5,1e-2)

new_red_df5 = pd.DataFrame(X_red5)

full_df5 =pd.concat([new_red_df5,pd.DataFrame(y5)],axis=1)

print('New Dataframe:')
full_df5

New Dataframe:

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,0
0,0.054770,-0.017333,-0.084254,-0.015577,0.094236,0.240070,0.002519,0.077804,0.267392,0.042228,...,0.289173,-0.002416,0.017770,-0.121918,0.149408,-0.037000,0.126739,0.184543,-0.033167,8
1,0.068502,0.047534,-0.005436,0.068067,-0.004840,0.078943,-0.016169,0.031107,0.119928,-0.189510,...,0.029796,0.124168,-0.156600,-0.192881,0.132425,-0.268470,0.224053,-0.072897,-0.097608,53
2,0.017755,-0.066093,-0.024561,-0.080392,0.123148,-0.090870,0.083459,0.002330,-0.008259,-0.079271,...,-0.009204,0.193261,-0.004371,0.189963,0.212768,0.003037,-0.218889,0.138008,0.011413,24
3,-0.159462,-0.134398,-0.302140,-0.274187,-0.055249,-0.100644,-0.059735,-0.059377,0.019962,-0.145092,...,-0.042655,0.351870,0.431408,0.007709,0.321109,0.495639,-0.071745,-0.108932,-0.156804,34
4,-0.130692,0.115920,-0.256197,0.098988,0.204152,0.004393,0.026226,-0.125594,0.035803,-0.210537,...,-0.099637,-0.051960,0.119024,0.034146,0.050889,0.061166,-0.035228,0.495667,-0.010351,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,-0.006422,0.090314,-0.066942,0.056325,0.043814,0.210568,-0.078946,-0.055262,0.211359,-0.168861,...,-0.070454,-0.039540,0.141818,-0.071680,-0.093639,-0.096793,0.008689,0.164873,0.000661,12
1990,-0.054677,-0.011050,-0.061482,-0.045362,-0.341591,-0.363792,-0.017535,0.250151,-0.073683,-0.141037,...,-0.077708,0.000734,0.166025,-0.062590,-0.118385,0.097644,0.083153,-0.583812,0.551746,6
1991,0.177245,0.003629,0.253214,-0.062350,0.122167,0.083570,0.001629,0.033998,-0.022389,0.324617,...,0.778844,-0.081484,-0.306846,0.062653,0.178598,-0.079062,-0.254450,-0.062371,-0.122477,9
1992,0.222557,0.075805,-0.007687,0.188271,0.130550,-0.024525,0.010976,-0.054359,0.167890,0.018964,...,0.116206,0.048781,-0.180772,-0.179229,-0.027660,-0.051834,-0.009128,-0.085921,0.168797,25
1993,-0.137053,0.088800,-0.003328,0.156724,-0.379790,-0.399209,0.068395,0.055353,-0.148624,0.025205,...,0.825387,0.032140,0.017184,-0.122027,-0.089721,0.252189,0.251629,-0.889764,0.556273,6

In [ ]:
#classification

LR = LogisticRegression()
x_train,x_test,y_train,y_test = train_test_split(new_red_df5,y5,test_size=0.3,random_state=42)
LR_model = LR.fit(x_train,y_train)
y_pred = LR_model.predict(x_test)
#print('acc=',(sum(y_test==y_pred))/len(y_test),'n_comp:',i)
print('Accuracy by logistic regression =',(sum(y_test==y_pred))/len(y_test))

LinR = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(new_red_df5,y5,test_size=0.3,random_state=42)
LinR_model = LinR.fit(x_train,y_train)
y_pred = LR_model.predict(x_test)
#print('acc=',(sum(y_test==y_pred))/len(y_test),'n_comp:',i)
print('Root mean squared error=', np.sqrt(mean_squared_error(y_test,y_pred)))

Accuracy by logistic regression = 0.5859766277128547
Root mean squared error= 13.221561284684743

# 6. Apply multiclass techniques one vs all and all vs all on IRIS data set using a binary classification algorithm
(a) Describe the experimental settings.
(b) Compare the performance of two multiclass techniques

In [ ]:
data4 = pd.read_excel('iris.xls')
data4.head()
data4.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [ ]:
# 3 columns are having null values SL,SW & PL
# fill null values with mean
data4['SL'].mean()
data4['SL']= data4['SL'].fillna(data4['SL'].mean())
data4['SW']= data4['SW'].fillna(data4['SW'].mean())
data4['PL']= data4['PL'].fillna(data4['PL'].mean())

data4.isna().sum()
data4_c = data4.copy()
data4.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [ ]:
data4 =pd.get_dummies(data4)
d1_pd = data4.iloc[:,:-2] 
d2_pd = data4.drop(['Classification_Iris-setosa','Classification_Iris-virginica'],axis=1)
d3_pd = data4.drop(['Classification_Iris-setosa','Classification_Iris-versicolor'],axis=1)

# One vs All Multiclass classification

In [ ]:
def classifier(data):
    X = data.iloc[:,:-1]
    y = data.iloc[:,-1]
    x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)
    LR = LogisticRegression()
    model = LR.fit(x_train,y_train)
    prob = model.predict_proba(x_test)
    return prob,model

p1,model1 = classifier(d1_pd)
#p1 = pd.DataFrame(p1)
p2,model2 = classifier(d2_pd)
p3,model3 = classifier(d3_pd)
#model1.predict_proba(x_test)


X1 = data4_c.iloc[:,:-1]
y1 = data4_c.iloc[:,-1]

y1=y1.replace(to_replace=('Iris-setosa','Iris-versicolor','Iris-virginica') , value=(1,2,3))
sc= StandardScaler()
X = sc.fit_transform(X1)
X1= pd.DataFrame(X1)
x_train,x_test,y_train,y_test = train_test_split(X1,y1,test_size=0.3,random_state=42)


cls_1=(np.dot((model1.coef_),x_test.T)+model1.intercept_)
cls_2=(np.dot((model2.coef_),x_test.T)+model2.intercept_)
cls_3=(np.dot((model3.coef_),x_test.T)+model3.intercept_)

cls  =[]
for i in range(len(x_test)):
    if (cls_1[:,i]>(cls_2[:,i] and cls_3[:,i])):
        cls.append(1)
    elif (cls_2[:,i]>(cls_1[:,i] and cls_3[:,i])):
        cls.append(2)
    elif (cls_3[:,i]>(cls_1[:,i] and cls_2[:,i])):
        cls.append(3)
cls
 
def pred(y_test,cls):
    acc =0
    a=np.sum(y_test == cls)
    return a/len(y_test)

acc= pred(y_test,cls) 

print('Accuracy of the model by one vs all multiclass binary classification:',acc)

Accuracy of the model by one vs all multiclass binary classification: 0.9333333333333333

# One vs One

In [ ]:
d1 = data4_c.copy()
d2 = data4_c.copy()
d3 = data4_c.copy()


ind1 = d1[d1['Classification']=='Iris-virginica'].index
ind1
#d1_ovo = d1.drop()
d1 = d1.drop(ind1,axis=0)
ind2 = d2[d2['Classification']=='Iris-versicolor'].index
d2 = d2.drop(ind2,axis=0)
ind3 = d3[d3['Classification']=='Iris-setosa'].index
d3 = d3.drop(ind3,axis=0)



d1_p_ovo,model1_ovo = classifier(d1)
d2_p_ovo,model2_ovo = classifier(d2)
d3_p_ovo,model3_ovo = classifier(d3)
#p1 = pd.DataFrame(p1)

X1 = data4_c.iloc[:,:-1]
y1 = data4_c.iloc[:,-1]

#y1=y1.replace(to_replace=('Iris-setosa','Iris-versicolor','Iris-virginica') , value=(1,2,3))
sc= StandardScaler()
X = sc.fit_transform(X1)
X1= pd.DataFrame(X1)
x_train,x_test,y_train,y_test = train_test_split(X1,y1,test_size=0.3,random_state=42)



d1_ovo_pred = model1_ovo.predict(x_test)
d2_ovo_pred = model2_ovo.predict(x_test)
d3_ovo_pred = model3_ovo.predict(x_test)

d_ovo_df = pd.DataFrame({'d1_ovo_pred':d1_ovo_pred,'d2_ovo_pred':d2_ovo_pred,'d3_ovo_pred':d3_ovo_pred})
d_ovo_pred = []

for i in range(len(x_test)):
    if (d1_ovo_pred[i]==d2_ovo_pred[i]==d3_ovo_pred[i]) or (d1_ovo_pred[i]==d2_ovo_pred[i]):
        d_ovo_pred.append(d1_ovo_pred[i])
    elif (d2_ovo_pred[i]==d3_ovo_pred[i]):
        d_ovo_pred.append(d2_ovo_pred[i])
    elif (d1_ovo_pred[i]==d3_ovo_pred[i]):
        d_ovo_pred.append(d1_ovo_pred[i])
    
d_ovo_df['class_pred'] = d_ovo_pred
d_ovo_df
a = pred(y_test,d_ovo_pred)
d_ovo_pred

print('Accuracy of the model by one vs one multiclass binary classification:',a)

Accuracy of the model by one vs one multiclass binary classification: 0.9777777777777777